<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">LIBRARY</a>


			<form th:object="${user}" class="container col-4">
				<input type="text" th:value="'Xin chào '+ ${user.username}" disabled>
			</form>

			<form action="" class=" container col-2">
				<label for="site-search">Search book:</label> <input type="search"
					id="site-search" name="q"> <input type="submit"
					class="col-4 btn btn-primary  " value="Search" />

			</form>

			<form th:object="${user}" class="container col-4">
				<a th:href="@{/book-cart/{username}(username= ${user.username})}"
					class="btn btn-primary">Cart</a> >
			</form>



			<form class="d-flex">
				<button class="btn btn-outline-success">
					<a href="/login">log out</a>
				</button>
			</form>
		</div>
	</nav>




	<div class="container">
		<div class="row">
			<h1>List Books</h1>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>

					<th>CoverImage</th>
					<th>Title</th>
					<th>Author</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="book-rows">
				<tr th:each="book: ${books}">

					<td><img style="max-width: 150px"
						th:src="@{http://localhost:8080/book-img?id={id1} (id1=${book.id})}"></td>
					<td th:text="${book.title}"></td>
					<td th:text="${book.author}"></td>


					<td>
						<form th:object="${user}" class="container col-4">
							<a
								th:href="@{'/book-user-detail/'+${book.id}+'/'+${user.username}}"
								class="btn btn-success">View</a>
						</form>
					</td>


				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>


